<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!--Main Content-->
<main>
<div class="jumbotron jumbotron-fluid">

    <section id="home">
    <h1> <%= title %> page</h1>
    <p>This is a portfolio site which contains information about me, my projects, and my contacts </p>
  </section>

</div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>




